<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:dimgray;padding:10px">
        Home - Product - News - About Us
    </div>
    <div>
        @RenderBody()
    </div>

    <div style="background-color:aquamarine;padding:10px">
        <p>CopyRight: by Do Thanh Sang 2023!</p>
    </div>
</body>
</html>